@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.dark-1{
    color: rgb(19, 19, 19);
}
.dark-3{
    color: #727272;
}
.orange{
    color: #FF900E;
}
/* work for the top section  */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 1.875rem 5rem;
    flex-direction: column;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:  row;
    width: 100%;
}

.nav-container>h1{
    font-weight: bold;
    font-size: 2.8rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:15px;
}
nav>li{
    list-style: none;
}
.nav-item>a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.125rem;
}

/* work for the banner section  */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 1.2rem;
}
.primary-button{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
}
.banner-description{
    text-align: center;
}
.banner-holder{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-button{
    padding: 20px 30px;
}
.banner-pic{
    width: 100%;
}

/* feature container work  */
main{
    padding: 5.5rem;
}
.feature-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
}
.feature-list-container{
    width: 50%;
}
#feature-title{
    font-size: 2.815rem;
}
.feature-button{
    padding: 1rem 2rem;
}
.team-container{
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
}
.team-container>img{
    width: 100%;
    height: fit-content;
    border-radius: 0.5rem;;
}
/* making the heading responsive  */
@media screen and (max-width : 576px){
    /* making the heading responsive  */
    .nav-container{
        flex-direction: column;
    }
    nav{
        flex-direction: colu;
    }
}
